<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/Logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="File"
            name="allFile"
            fileName="${basedir}/Logs/${shortdate}-all.log"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring:maxInnerExceptionLevel=5:innerFormat=tostring}" />

    <target xsi:type="File"
            name="errorFile"
            fileName="${basedir}/Logs/${shortdate}-errors.log"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring:maxInnerExceptionLevel=5:innerFormat=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.HttpClient.*" maxlevel="Info" final="true" />
    <logger name="Hangfire.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Debug" writeTo="allFile">
      <filters defaultAction="Log">
        <when condition="contains(&apos;${message}&apos;, &apos;System.OperationCanceledException&apos;)" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Warn" writeTo="errorFile">
      <filters defaultAction="Log">
        <when condition="contains(&apos;${message}&apos;, &apos;System.OperationCanceledException&apos;)" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>
